<div id="flex-pane">
    <div id="grid-pane">
      <div id="left-article-pane">
        <mat-card
          class="example-card"
          style="margin: 20px"
          *ngFor="let data of newList"
        >
          <mat-card-header>
            <mat-card-title>{{ data.title }}</mat-card-title>
            <mat-card-subtitle
              >{{ data.media }} {{ data.date }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ data.desc }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div id="search-pane">
        <div id="SEARCH">
          <div id="DIV_166">
            <div id="DIV_167">
              <svg id="svg_168">
                <g id="g_169">
                  <path id="path_170"></path>
                  <path id="path_171"></path>
                </g>
              </svg>
            </div>
              <input
              name="search tweets"
              value="{{ query }}"
              type="string"
              placeholder="Search tweets"
              id="INPUT_172"
            />
            <button id="selected" >search</button>
          </div>
          <div id="DIV_165">Filter</div>
        </div>
        <div id="DIV_173" class="listofbuttons">
          <div id="DIV_174">
            <div id="DIV_175">
              <!-- buttons list -->
              <button id="selected">All Topics</button>
              <button id="unselected">topic 1</button>
              <button id="unselected">topic 2</button>
              <button id="unselected">topic 3</button>
            </div>
          </div>
        </div>
        <div class="control-section">
          <div class="switches">
            <mat-button-toggle-group id="view" class="e-btn-view-group">
              <mat-button-toggle
                [checked]="display == 1"
                value="1"
                (change)="changeDisplay(1)"
                ><img
                  src="../../../assets/grid.svg"
                  alt="Grid View"
                  width="20px"
                  height="20px"
              /></mat-button-toggle>
              <mat-button-toggle
                [checked]="display == 2"
                value="2"
                (change)="changeDisplay(2)"
                ><img
                  src="../../../assets/list.svg"
                  alt="List View"
                  width="20px"
                  height="20px"
              /></mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group id="sect" class="e-btn-sect-group">
              <mat-button-toggle
                [checked]="sect == 1"
                [ngClass]="sect == 1 ? 'active' : ''"
                value="1"
                (change)="changeSect(1)"
              >
                POIS</mat-button-toggle
              >
              <mat-button-toggle
                [checked]="sect == 2"
                [ngClass]="sect == 2 ? 'active' : ''"
                value="2"
                (change)="changeSect(2)"
              >
                PUBLIC</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
  
          <div class="row" *ngIf="display === 1; else listview">
            <div class="meta-data">
              <div id="GRAPH1" *ngFor="let search of searchResultPOI">
                <div id="DIV_197" class="twitter logo" *ngIf="search.poi_name">
                  <div id="DIV_198">
                    <img
                      src="../../../assets/twitter_social.svg"
                      alt="twitter_profile"
                      id="IMG_199"
                    />
                  </div>
                  <div id="DIV_200" style="margin-top: 12px">
                    <p id="P_201">{{ search?.poi_name }}</p>
                  </div>
                  <div id="DIV_45" style="margin-top: 14px">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg"
                      alt=""
                      id="IMG_46"
                    />
                  </div>
                </div>
                <div class="tweets">
                  {{ search.tweet_text }}
                </div>
                <h4 style="margin-top: 10px;">{{data.country}} <span style="float: right;">{{data.tweet_date | date :'short'}}</span> </h4>
                <h3 class="title">{{data.tweet_text}}</h3>
                <h4>Rank Score: {{data.score}}</h4>
                <h4 class="title">Sentiment : {{data.display[0]}}</h4>
                <h4 class="title">Avg Sentiment Score : {{data.display[1]}}</h4>
              </mat-card>
            </div>
            <div class="graph">
            </div>
            <div id="right-article-pane">
              <mat-card
                class="word-count"
              >
                <mat-card-header>
                  <mat-card-title>Word Count</mat-card-title>
                 
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <img src="https://www.wolframcloud.com/obj/atularvi/g.png?words={{wordList}}" />
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
  
          <ng-template #listview>
            <div id="DIV_188" class="listoftweets">
              <div id="search-title">
                <div id="DIV_190">Username</div>
                <div id="DIV_191">tweets</div>
                <div id="DIV_192">reply count</div>
                <div id="DIV_193">% positive sentiment</div>
              </div>
              <!-- list of tweets -->
              <div id="DIV_194">
                <a href="https://exchange.gemini.com/buy/BTC" id="A_195"></a>
                <div id="search-result">
                  <div id="DIV_197" height="125px" class="twitter logo">
                    <div id="DIV_198">
                      <img
                        src="../../../assets/twitter_social.svg"
                        alt="twitter_profile"
                        id="IMG_199"
                      />
                    </div>
                    <div id="DIV_200">
                      <p id="P_201">username</p>
                      <p id="P_202">@twitter_social</p>
                    </div>
                  </div>
                  <div id="DIV_203">
                    <span id="SPAN_204"
                      >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Ullam adipisci fuga deserunt natus minima animi nostrum
                      delectus, in ex iste consequatur perspiciatis quibusdam
                      laudantium nulla blanditiis facilis ratione excepturi cumque
                      nam ipsam, facere praesentium cupiditate sed quam. Dolorem,
                      cupiditate molestias. Dolor corrupti non, corporis quod
                      iusto velit labore a, asperiores numquam incidunt eos
                      dolorem quo illo rerum vero illum laboriosam recusandae quas
                      ipsam ut vel? Recusandae autem ducimus delectus tempore sed.
                      Nulla voluptate saepe incidunt! Distinctio et repellat
                      voluptatibus exercitationem a modi quos fuga! Ipsam esse
                      atque, saepe adipisci ab ut molestias necessitatibus
                      corporis in id amet. Blanditiis, optio maxime.</span
                    >
                  </div>
  
                  <div id="DIV_213">
                    <span id="SPAN_204">450</span>
                  </div>
                  <div id="DIV_218">
                    <div id="DIV_219">-0.03%</div>
                  </div>
                  <button type="button" id="BUTTON_220">View details</button>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  #DIV_167 {
    align-items: center;
    block-size: 40px;
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    display: flex;
    filter: brightness(0.75);
    height: 40px;
    inline-size: 16px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 224px;
    inset-inline-start: 24px;
    left: 24px;
    perspective-origin: 8px 20px;
    pointer-events: none;
    position: absolute;
    right: 224px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 8px 20px;
    width: 16px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#DIV_167*/
  #svg_168 {
    block-size: 16px;
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    display: block;
    height: 16px;
    inline-size: 16px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 8px 8px;
    pointer-events: none;
    stroke: rgb(230, 230, 230);
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    transform-origin: 8px 8px;
    width: 16px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
    overflow: hidden;
  }/*#svg_168*/
  #g_169 {
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    fill: none;
    fill-rule: evenodd;
    perspective-origin: 0px 0px;
    pointer-events: none;
    stroke: rgb(211, 212, 214);
    stroke-linejoin: round;
    stroke-width: 1.5px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    transform: matrix(1, 0, 0, 1, 1, 1);
    transform-origin: 0px 0px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#g_169*/

  #path_170 {
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    d: path("M 8.25 4.25 A 4 4 0 1 1 0.25 4.25 A 4 4 0 0 1 8.25 4.25 H 8.25 Z");
    fill: none;
    fill-rule: evenodd;
    perspective-origin: 0px 0px;
    pointer-events: none;
    stroke: rgb(211, 212, 214);
    stroke-linejoin: round;
    stroke-width: 1.5px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#path_170*/
  
  
  #path_171 {
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    d: path("M 7.078 7.078 L 11.75 11.75");
    fill: none;
    fill-rule: evenodd;
    perspective-origin: 0px 0px;
    pointer-events: none;
    stroke: rgb(211, 212, 214);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    transform-origin: 0px 0px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#path_171*/
  
  
  #DIV_166 {
    block-size: 40px;
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    height: 40px;
    inline-size: 264px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    perspective-origin: 132px 20px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    top: 0px;
    display:flex;
    align-items:center;
    flex-direction:row;
    transform-origin: 132px 20px;
    width: 264px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  
  
    button{
      margin-left:16px;
    }
  }/*#DIV_166*/
  
  #unselected {
    align-items: center;
    bottom: 0px;
    caret-color: rgb(1, 3, 4);
    color: rgb(1, 3, 4);
    column-rule-color: rgb(1, 3, 4);
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(1, 3, 4);
    text-size-adjust: 100%;
    top: 0px;
    background: rgb(230, 230, 230) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(1, 3, 4);
    border-radius: 32px;
    font: 600 12px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 8px 0px;
    outline: rgb(1, 3, 4) none 0px;
    padding: 8px 16px;
  }/*#BUTTON_180*/
  
  #DIV_173 {
    border-block-end-color: rgb(55, 61, 68);
    border-block-start-color: rgb(55, 61, 68);
    border-inline-end-color: rgb(55, 61, 68);
    border-inline-start-color: rgb(55, 61, 68);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    height: 52px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 0px;
    inset-inline-start: 0px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    top: 0px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#DIV_173*/
  
  
  #DIV_174 {
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    height: 52px;
    left: 0px;
    min-inline-size: 100%;
    min-width: 100%;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    top: 0px;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
    overflow: auto;
  }/*#DIV_174*/
  
  
  #DIV_175 {
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-gap: 8px;
    column-rule-color: rgb(55, 61, 68);
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    height: 52px;
    padding-inline-start: 2px;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
    padding: 0px 0px 0px 2px;
  }/*#DIV_175*/
  
  #selected {
    align-items: center;
    
    bottom: 0px;
    caret-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    height: 36px;
  
    justify-content: center;
    left: 0px;
    min-block-size: auto;
    min-height: auto;
    min-inline-size: auto;
    min-width: auto;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    background: rgb(1, 3, 4) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 32px;
    font: 600 12px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 8px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 8px 16px;
  }/*#BUTTON_176*/
  

  #SEARCH {
  
  
    box-sizing: border-box;
    caret-color: rgb(55, 61, 68);
    color: rgb(55, 61, 68);
    column-rule-color: rgb(55, 61, 68);
    display: flex;
    align-items: center;
    align-content: space-between;
    height: 92px;
    width:100%;
    justify-content: space-between;
    text-decoration: none solid rgb(55, 61, 68);
    text-size-adjust: 100%;
    border: 0px none rgb(55, 61, 68);
    font: 13px / 16px Inter, -apple-system, "system-ui", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    outline: rgb(55, 61, 68) none 0px;
  }/*#SEARCH*/
  

  .parent {
    display: flex;
    .news {
      width: 30%;
      height: 100vh;
    }
    .title {
      margin: 0px;
    }
    .main-data {
      width: 70%;
      height: 100vh;
      padding: 20px;
    }
    .example-card {
      border-radius: 20px;
      margin: 10px;
    }
    .rowd {
      display: flex;
      .user {
        width: 60%;
        height: 100vh;
        padding: 20px;
      }
      .graph {
        width: 60%;
        height: 100vh;
        padding: 20px;
      }
    }
  }
  