.parent {
  display: flex;
  .news {
    width: 30%;
    height: 100vh;
  }
  .title {
    margin: 0px;
  }
  .main-data {
    width: 70%;
    height: 100vh;
    padding: 20px;
  }
  .example-card {
    border-radius: 20px;
    margin: 10px;
  }
  .rowd {
    display: flex;
    .user {
      width: 60%;
      height: 100vh;
      padding: 20px;
    }
    .graph {
      width: 60%;
      height: 100vh;
      padding: 20px;
    }
  }
}
