<div class="parent">
  <div class="news">
    <ng-container *ngIf="newList.length == 0">
      <mat-card class="example-card">
        <mat-card-content>
          No News Available
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="newList && newList?.length">
      <mat-card class="example-card" style="margin:20px" *ngFor="let data of newList | slice : 0 : 5">
        <div>
          <h4 class="title">{{data.title}}</h4>
          <h6>{{data.media}} <span style="float: right;">{{data.date}}</span> </h6>
        </div>
        <mat-card-content>
          {{data.desc}}
          Average Sentiment Analysis : {{data.desc}}<br>
          Sentiment : {{data.display[0]}}<br>
          Avg Sentiment Score : {{data.display[1]}}<br>
        </mat-card-content>
        <a mat-button [href]="data.link" class="float: right">View</a>
      </mat-card>
      <a mat-button class="float: right" *ngIf="newList && newList?.length ">View More</a>
    </ng-container>
  </div>
  <div class="main-data">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="POIs">
        <div class="rowd">
          <div class="user">
            <mat-card class="example-card" style="margin:20px" *ngFor="let data of searchResultPOI | slice : 0 : 5">
              <div>
                <img src="../../../assets/twitter_social.svg" alt="twitter_profile" height="40px" width="40px" />
                <span style="margin-left: 10px; vertical-align: super;">{{data?.poi_name}}</span>
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg" alt=""
                  height="20px" width="20px" style="float: right;" />
              </div>
              <h4 style="margin-top: 10px;">{{data.country}} <span style="float: right;">{{data.tweet_date | date :'short'}}</span> </h4>
              <h3 class="title">{{data.tweet_text}}</h3>
              <h4>Rank Score: {{data.score}}</h4>
              <h4 class="title">Sentiment : {{data.display[0]}}</h4>
              <h4 class="title">Avg Sentiment Score : {{data.display[1]}}</h4>
            </mat-card>
          </div>
          <div class="graph">
          </div>
        </div>
      </mat-tab>
      <mat-tab label="User">
        <div class="rowd">
          <div class="user">
            <mat-card class="example-card" style="margin:20px" *ngFor="let data of searchResultNonPOI | slice : 0 : 5">
              <h4>{{data.country}} <span style="float: right;">{{data.tweet_date | date :'short'}}</span> </h4>
              <h3 class="title">{{data.tweet_text}}</h3>
              <h4>Rank Score: {{data.score}}</h4>
              <h4 class="title">Sentiment : {{data.display[0]}}</h4>
              <h4 class="title">Avg Sentiment Score : {{data.display[1]}}</h4>
            </mat-card>
          </div>
          <div class="graph">
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>