.search-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    .search-wrapper {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .search-logo {
        font-family: "Product Sans", sans-serif;
        font-size: 6rem;
        width: 45%;
        .padding-logo {
          padding: 2px;
        }
        .logo-blue {
          color: #4285f4;
        }
        .logo-red {
          color: #db4437;
          display: inline-block;
          transform: rotate(-20deg);
        }
        .logo-yellow {
          color: #f4b400;
        }
        .logo-green {
          color: #0f9d58;
        }
        .logo-purple {
          color: #790eb8;
        }
        .logo-orange {
          color: #e4a215;
        }
      }
      .search-bar-comp {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .search-wrapper {
    width: 90% !important;
    .search-logo {
      width: 90% !important;
      font-size: 2em !important;
    }
    .search-bar-comp{
      width: 80% !important;
    }
  }
}
