.navigation {
  .spacer {
    flex: 1 1 auto;
  }
  .button-navigation-class {
    margin: 10px 0px 10px 5px;
    background-color: transparent;
    outline: none;
  }
  .navigation-search{
    width: 44%;
    margin-left: 5%;
  }
}
