<div class="navigation">
    <mat-toolbar>
        <a routerLink="/"><img src="../../assets/LOGO.png" alt="Logo" height="25px" width="150px"></a>
        <span class="spacer"></span>
        <button mat-button class="button-navigation-class" aria-label="Live Map" routerLink="/summary-stats">
            Statistics
        </button>
        <button mat-button class="button-navigation-class" aria-label="Covid Statistics" routerLink="/stats">
            COVID Stats
        </button>
    </mat-toolbar>
</div>