<mat-toolbar>
    Statistics
</mat-toolbar>
<div class="global" *ngIf="state == true">
    <app-loader></app-loader>
</div>
<div class="center-class" *ngIf="state != true">
    <ng-container *ngIf="chartResult.length > 0">
        <h3><i>Total Number of Tweets Vs Country</i></h3>
        <app-piechart [chartResult]="chartResult"></app-piechart>
    </ng-container>
    <ng-container *ngIf="barResult.length > 0">
        <h3><i>Pois Vs No of Tweets</i></h3>
        <app-bargraph [barResult]="barResult"></app-bargraph>
    </ng-container>
    <ng-container>
        <h3><i>Sentiment</i></h3>
        <app-sentimentviewer [stackedResult]="stackedResult"></app-sentimentviewer>
    </ng-container>
</div>