<mat-toolbar> Statistics </mat-toolbar>
<div class="global" *ngIf="state == true">
  <app-loader></app-loader>
</div>
<div *ngIf="state != true">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Countrywise Distribution of Tweets</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="chartCountry.length > 0">
              <app-piechart
                class="child"
                [chartResult]="chartCountry"
              ></app-piechart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Languagewise Distribution of Tweets</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="chartLanguage.length > 0">
              <app-piechart
                class="child"
                [chartResult]="chartLanguage"
              ></app-piechart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Top 5 Most Tweeted POIs</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="barResult.length > 0">
              <app-bargraph [barResult]="barResult"></app-bargraph>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Sentiment Analysis of Top 5 POIs Tweets</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="chartCountry.length > 0">
              <app-vertical-stack-graph
                [vgraphData]="stackedResult"
              ></app-vertical-stack-graph>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Countrywise Distribution of Tweets</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="barResult.length > 0">
              <app-gaugechart [gaugeChart]="category"></app-gaugechart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Countrywise Distribution of Tweets</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="chartCountry.length > 0">
              <app-vertical-stack-graph
                [vgraphData]="stackedResult"
              ></app-vertical-stack-graph>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-class">
        <h5 class="card-header">
          <b><i>Top 5 Trending</i></b>
        </h5>
        <div class="card-body">
          <div class="content">
            <ng-container *ngIf="category.length > 0">
              <app-gaugechart [gaugeChart]="category"></app-gaugechart>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div style="position: relative; height: 60vh; width: 90vw">
  <canvas id="multi_chart"></canvas>
</div>
