

<div class="charts">
  
    <div style="position: relative;">
      <canvas id="cases_radar_chart"></canvas>
    </div>
  
    <div style="position: relative;">
      <canvas id="cases_bar_chart"></canvas>
    </div>
 
    <div style="position: relative; ">
      <canvas id="doses_radar_chart"></canvas>
    </div>
  
    <div style="position: relative; ">
      <canvas id="doses_bar_chart"></canvas>
    </div>
    src:https://disease.sh/docs/#/COVID-19%3A%20Vaccine/get_v3_covid_19_vaccine_coverage_countries
</div>
