<div class="charts">
  <mat-card>
    <div style="position: relative">
      <canvas id="cases_radar_chart"></canvas>
    </div>
  </mat-card>

  <mat-card>
    <div style="position: relative">
      <canvas id="cases_bar_chart"></canvas>
    </div>
  </mat-card>

  <mat-card>
    <div style="position: relative">
      <canvas id="doses_radar_chart"></canvas>
    </div>
  </mat-card>

  <mat-card>
    <div style="position: relative">
      <canvas id="doses_bar_chart"></canvas>
    </div>
  </mat-card>
</div>
