<div class="charts">
  <div style="position: relative">
    <mat-card>
      <canvas id="cases_radar_chart"></canvas>
    </mat-card>
  </div>

  <div style="position: relative">
    <mat-card>
      <canvas id="cases_bar_chart"></canvas>
    </mat-card>
  </div>

  <div style="position: relative">
    <mat-card>
      <canvas id="doses_radar_chart"></canvas>
    </mat-card>
  </div>

  <div style="position: relative">
    <mat-card>
      <canvas id="doses_bar_chart"></canvas>
    </mat-card>
  </div>
</div>
